html {
    scroll-behavior: smooth;
}

* {
  font-family: "Papyrus", "Impact", fantasy;
}
body {
   background-color: beige;
   font-family:  "Papyrus", "Impact", fantasy;
}
h1,
h2 {
  scroll-margin-top: 90px;
}


h1 {
   color: rgb(139, 145, 51);
   margin-top: 40px;
   margin-bottom: 40px;
   margin-left: 40px;
}

h2 {
   color: rgb(139, 145, 51);
   margin-top: 20px;
   margin-bottom: 10px;
   margin-left: 80px;
}

div {
   color: rgb(139, 145, 51);
   margin-top: 20px;
   margin-left: 100px;
}

li {
   color: rgb(139, 145, 51);
   margin-left: 80px;
}

p {
   font-size: 18 px;
   background-color: rgb(194, 97, 28);
   color: beige;
   text-align: left;
   line-height: 2;
   margin-top: 40px;
   margin-bottom: 40px;
   margin-left: 80px;
   margin-right: 80px;
   padding: 40px 40px 40px 40px;
   border-style: double;
}

a {
   color:rgb(194, 97, 28);
   margin-left: 60px;
   margin-top: 40px;
   margin-bottom: 40px;
}

button {
   color:rgb(245, 245, 220);
   background-color: rgb(139, 145, 51);
   font-family:  "Papyrus", "Impact", fantasy;
   margin-left: 1200px;
   margin-top: 40px;
   margin-bottom: 40px;
   padding: 12px 20px 6px 22px;
   border-style: double;
   border-color: beige;
}

img {
   margin-left: 80px;
   height: 400px;
}

footer {
   background-color: rgb(194, 97, 28);
   margin: 20px 20px 20px 20px;
   padding: 8px 4px 8px 4px;
   color: beige;
   text-align: center;
}
